
{% extends "bootstrap/base.html" %}
{% include 'layout.html' %}

{% block title %}AC{% endblock %}


{% block content %}

  <main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <br>
      <h1>Algonquin College Course Mapping System</h1>
        <br>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
          <br>
        <a href="#" class="btn btn-primary my-2">View Grade Book</a>
        <a href="#" class="btn btn-secondary my-2">Upload Grade</a>
      </p>
    </div>
  </section>



</main>
<footer class="container ">
  <p class="float-right">© Algonquin College 2019-2020</p>
</footer>


{% endblock %}
