

{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login">
			<h1>Login</h1>
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Login</a>
				<a href="{{ url_for('register') }}">Register</a>
			</div>
			<form action="{{ url_for('login') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>


                <label for="category">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                </label>
                <select  class="loginselect" id="category" name="category">
                    <option selected  hidden  class="grey_color" style="color:gray">Choose..</option>

                    <option value="coordinator">Coordinator</option>
                    <option value="professor">Professor</option>
                    <option value="secretary">Secretary</option>
                    <option value="student">Student</option>
                </select>

				<input type="submit" value="Login">

			</form>

		</div>
{% endblock %}


